$GobalFontSize: 14px;  //定义全局的字体大小
$mainRed: #ff65af;

$NavHeight: 60px;

$HomeHeaderHeight: 85px;

$OneCommodityWrapHeight: 130px;
$OneCommodityWrapHeight600: 150px;
$OneCommodityWrapHeight800: 250px;
$OneCommodityWrapHeight1025: 300px;

$dpFooterHeight:50px;
$dpHeaderHeight:50px;

$cartHeaderHeight: 40px;
$cartFooterHeight: 40px;


$HelloWrapWidth: 100px;
$HelloWrapHeight: 100px;